body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 9%);
}

h1 {
    font-family: Arial;
    font-size: 48px;
}

.titulo {
    text-align: center;
}

.login {
    font-family: Arial;
    text-align: center;
}